<dom-module id="iframe-slide">
  <template>
    <style>
      h1 {
        width: 100%;
        height: 10vh;
        font-size: 72px;
        text-align: center;
      }
      /* window BEGIN */

      a {
        text-decoration: none;
      }

      span {
        line-height: 9px;
        vertical-align: 50%;
      }

      .window {
        color: black;
        background: #fff;
        width: 100%;
        height: 65vh;
        margin: auto;
        margin-top: 1vh;
        border: 1px solid #acacac;
        border-radius: 6px;
        box-shadow: 0px 0px 20px #acacac;
        font-family: HelveticaNeue, 'Helvetica Neue', 'Lucida Grande', Arial, sans-serif;
      }

      .titlebar {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #ebebeb, color-stop(1.0, #d5d5d5)));
        background: -webkit-linear-gradient(top, #ebebeb, #d5d5d5);
        background: -moz-linear-gradient(top, #ebebeb, #d5d5d5);
        background: -ms-linear-gradient(top, #ebebeb, #d5d5d5);
        background: -o-linear-gradient(top, #ebebeb, #d5d5d5);
        background: linear-gradient(top, #ebebeb, #d5d5d5);
        color: #4d494d;
        font-size: 11pt;
        line-height: 20px;
        text-align: center;
        width: 100%;
        height: 40px;
        border-top: 1px solid #f3f1f3;
        border-bottom: 1px solid #b1aeb1;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        cursor: default;
      }

      .buttons {
        padding-left: 8px;
        padding-top: 12px;
        float: left;
        line-height: 0px;
      }

      .buttons:hover a {
        visibility: visible;
      }

      .close {
        background: #ff5c5c;
        font-size: 9pt;
        width: 11px;
        height: 11px;
        border: 1px solid #e33e41;
        border-radius: 50%;
        display: inline-block;
      }

      .close:active {
        background: #c14645;
        border: 1px solid #b03537;
      }

      .close:active .closebutton {
        color: #4e0002;
      }

      .closebutton {
        color: #820005;
        visibility: hidden;
        cursor: default;
      }

      .minimize {
        background: #ffbd4c;
        font-size: 9pt;
        line-height: 11px;
        margin-left: 4px;
        width: 11px;
        height: 11px;
        border: 1px solid #e09e3e;
        border-radius: 50%;
        display: inline-block;
      }

      .minimize:active {
        background: #c08e38;
        border: 1px solid #af7c33;
      }

      .minimize:active .minimizebutton {
        color: #5a2607;
      }

      .minimizebutton {
        color: #9a5518;
        visibility: hidden;
        cursor: default;
      }

      .zoom {
        background: #00ca56;
        font-size: 9pt;
        line-height: 11px;
        margin-left: 6px;
        width: 11px;
        height: 11px;
        border: 1px solid #14ae46;
        border-radius: 50%;
        display: inline-block;
      }

      .zoom:active {
        background: #029740;
        border: 1px solid #128435;
      }

      .zoom:active .zoombutton {
        color: #003107;
      }

      .zoombutton {
        color: #006519;
        visibility: hidden;
        cursor: default;
      }

      .content {
        height: 600px;
      }

      /* window END */

      /* content BEGIN */

      h3 {
        margin-top: 0px;
      }

      .url-bar {
        width: 60%;
        height: 28px;
        box-shadow: none;
        border-radius: 5px;
        border: 1px #ccc solid;
        margin: 5px auto;
        margin-bottom: none;
        background: #fff;
      }
      .url-bar.outline {
        outline: -webkit-focus-ring-color auto 5px;
        outline-offset: -2px;
      }

      .url-bar input {
        float: left;
        height: 26px;
        background: transparent;
        border: none;
        width: 90%;
        margin-left: 4px;
        font-size: 20px;
      }
      .url-bar input:focus {
        border: none;
        box-shadow: none;
        outline: none;
      }

      .url-bar span {
        float: right;
        margin-top: 9px;
        margin-right: 7px;
      }

      #browser {
        width: 100%;
        overflow: scroll;
        height: 575px;
      }

      /* content END */
    </style>
    <h1>{{title}}</h1>
    <div id="window" class="window">
      <div class="titlebar">
        <div class="buttons">
          <div class="close">
            <a class="closebutton" href="#"><span><strong>x</strong></span></a>
            <!-- close button link -->
          </div>
          <div class="minimize">
            <a class="minimizebutton" href="#"><span><strong>&ndash;</strong></span></a>
            <!-- minimize button link -->
          </div>
          <div class="zoom">
            <a class="zoombutton" href="#"><span><strong>+</strong></span></a>
            <!-- zoom button link -->
          </div>
        </div>
        <div id="urlBar" class="url-bar">
          <input id="urlInput" type="text" value="{{url::change}}">
          <span class="fa fa-refresh fa-3" on-click="refreshIframe"></span>
        </div>
        <!-- window title -->
      </div>
      <div id="content" class="content">
        <iframe id="browser" src="{{url}}" frameborder="0"></iframe>
      </div>
    </div>
  </template>
  <script>
    Polymer({
      is: 'iframe-slide',

      properties: {
        sections: {
          type: Object,
          observer: '_setupNewSlide'
        },
        title: String,
        url: {
          type: String
        }
      },

      listeners: {
        'urlInput.focus': '_inputFocus',
        'urlInput.blur': '_inputBlur'
      },

      _inputFocus: function(e) {
        this.$.urlBar.classList.add('outline')
      },

      _inputBlur: function(e) {
        this.$.urlBar.classList.remove('outline')
      },

      _setupNewSlide: function(sections) {
        this.title = sections.title
        this.url = sections.iframe.url_base
      },

      refreshIframe: function(e) {
        this.$.browser.src = this.$.browser.src
      }
    })
  </script>
</dom-module>
